<div class="topicContainer">
  <div class="titleContainer">
  <img src="/wsei-project/social-app/src/assets/images/topicLogo1.jpg">
  <p class="topicTitlw">Sport</p>
  </div>
  <div class="form-group aboutMeInput">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  readonly></textarea>
  </div>
</div>

