.topicContainer{
    padding:20px;
    background: #7d97a5;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30); 
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
     margin-top:25px;
}
.titleContainer
{
    display: flex;
    flex-direction: row;
    img{
        padding-right:20px;
    }
}