.nameSurnameParagraph{
    font-size:32px;
    padding:15px;
}
.nameContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;

}
.editBtn{
    max-width:15%;
    max-height: 10%;
    margin: 3% 3%  3% 15%;
}