.photoContainer{
    width:200px;
    height: 200px;
}
img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.photoContainer{
    margin-right: auto;
    margin-left:auto;
}
.aboutMeInput{
    padding:20px;
}