<div class="photoContainer">
<img src="/wsei-project/social-app/src/assets/images/zdjecie.jpg">
</div>
<div class="form-group aboutMeInput">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="O mnie" readonly></textarea>
</div>