
.readOnlyProfileComponent{
   background: #f5f7f8;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
//     -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83); 
// box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
}