/* You can add global styles to this file, and also import other style files */
body{
    width:100%;
    height: 100vh;
    text-align: center;
    padding:0px;
    box-sizing: border-box;
    background: #f5f7f8;
}
*{
    font-family: 'Lato', sans-serif;
}