.allComponentsContainer{
    width:66%;
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right: auto;
}
.aboutUser{
    width:100%;
font-size: 24px;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30); 
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
margin-bottom: 25px;
}
