<div class="allComponentsContainer">
<div class="aboutUser">
<div class="photoNameContainer">
<app-show-name>
  Show name połączono
</app-show-name>
<app-show-photo>
    show photo połączoną
</app-show-photo>
</div>
</div>
<app-show-opinion>
</app-show-opinion>
<app-show-tematical-module>
    show skecje tematyczne działa
</app-show-tematical-module>
</div>