.mainContainer{
padding:20px;
background: #dfe5e8;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30); 
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
}
.titleContainer{
   
display: flex;
flex-direction: row;
justify-content: space-between;
padding-bottom:10px;
}
.addOpinionBtn{

}
.loadedOpinion{
display:flex;
flex-direction: column;
text-align: left;
}
h2{
    font-size:16px;
    display: inline-block;
}
h3{
    font-size:13px;

}
.opinionContent{
font-size:12px;
word-wrap: break-word;
}
